<% include header %>
<div class="wap">
  <section class="main clearfix" style="background: none;">
    <section class="fav clearfix">
      <% shops.forEach(function(shop){ %>
      <div class="food-item">
        <h3><a href="/shop/<%=shop._id%>"><%=shop.name%></a></h3>
        <dl>
          <dt>地址：</dt>
          <dd><%=shop.address || "&nbsp;"%></dd>

          <dt>电话：</dt>
          <dd><%=shop.tel || "&nbsp;"%></dd>
        </dl>
        <a href="/shop/<%=shop._id%>"><img src="/images/shop/1.png"/></a>
      </div>
      <% }) %>
    </section>
  </section>
</div>
<% include footer %>